:root {
  --weuiDesktop_themeColor: #07c160;
  --weuiDesktop_errorColor: #fa5151;
  --weuiDesktop_warningColor: #ffc300;
  --weuiDesktop_neutralColor: #10aeff;
  --weuiDesktop_linkColor: #576b95;
  --weuiDesktop_globalColor: #1a1b1c;
  --weuiDesktop_focusColor: #4c4d4e;
  --weuiDesktop_descColor: #7e8081;
  --weuiDesktop_subColor: #b1b2b3;
  --weuiDesktop_separateColor: #e3e4e5;
  --weuiDesktop_globalBgColor: #f6f7f8;
  --weuiDesktop_areaBgColor: #f6f7f8;
  --weuiDesktop_cardBgColor: #fff;
  --weuiDesktop_successColor: #07c160;
}